name: Markdown Link Check
on:
  pull_request:
  push:
    branches: [ main ]
jobs:
  links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: lycheeverse/lychee-action@v1.9.0
        with:
          args: --verbose --no-progress --require-https --exclude-mail --timeout 10s '**/*.md'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
