name: Markdownlint
on:
  pull_request:
  push:
    branches: [ main ]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: avto-dev/markdown-lint@v1.5.0
        with:
          config: .markdownlint.json
          ignore: "node_modules"
